.color-1 { background-color: rgb(120, 21, 12); }
.color-2 { background-color: rgb(154, 80, 73); }
.color-3 { background-color: rgb(188, 138, 134); }
.color-4 { background-color: rgb(221, 197, 194); }
.color-5 { background-color: rgb(255, 255, 255); }

/* MAROON */
.color-5 { background-color: rgb(128, 0, 0); }
.color-5 { background-color: #800000; }

/* DARKRED */
.color-5 { background-color: rgb(139, 0, 0); }
.color-5 { background-color: #8B0000; }

/* FIREBRICK */
.color-5 { background-color: rgb(178, 34, 34); }
.color-5 { background-color: #B22222; }

/* BROWN */
.color-5 { background-color: rgb(165, 42 ,42); }
.color-5 { background-color: #A52A2A; }

/* SALMON */
.color-5 { background-color: rgb(250, 128, 114); }
.color-5 { background-color: #FA8072; }

/* DARKSALMON */
.color-5 { background-color: rgb(233, 150, 122); }
.color-5 { background-color: #E9967A; }

/* LIGHTSALMON */
.color-5 { background-color: rgb(255,160,122); }
.color-5 { background-color: #FFA07A; }

/* CORAL */
.color-5 { background-color: rgb(255,127,80); }
.color-5 { background-color: #FF7F50; }

/* TOMATO */
.color-5 { background-color: rgb(255,99,71); }
.color-5 { background-color: #FF6347; }

/* RED */
.color-5 { background-color: rgb(255,0,0); }
.color-5 { background-color: #FF0000; }





